{% extends 'base.html.twig' %} {% block body %}

<h1>{{ title }}</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita, aliquam sunt corrupti tempore dolorum libero
    quasi incidunt voluptates magnam vel sit temporibus animi ea autem tenetur iste ut officiis nisi aut nemo molestiae provident.
    Quae ipsam magnam voluptates ipsum?</p>
<p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus cupiditate laborum reiciendis consectetur
        inventore vero? Recusandae, iusto porro officiis voluptates quia voluptatem! Consequuntur excepturi eum corporis
        beatae expedita, ipsam, officiis reiciendis eaque vel, est delectus eos atque autem totam sit.</span><span>Aut quia
        dolores voluptate sed sunt libero minima vero, provident fuga! Omnis magnam, nemo quos perspiciatis distinctio repellendus
        vero doloribus sint error nesciunt, adipisci fugit illo odio dolores molestias exercitationem doloremque qui, sed
        temporibus! Iste expedita incidunt doloremque dolorum delectus.</span></p>

{% endblock %}