{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 09/09/2018 à 09:39 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Cumque, aspernatur minima, odio molestiae deleniti reprehenderit porro doloribus officia maiores impedit ut! Aspernatur,
                numquam.</p>
            <p>Facilis labore officiis expedita, vero quas veniam quisquam, pariatur repellendus iste voluptatem perferendis
                odio aperiam!</p>
            <hr>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci, rem architecto. Fugiat ipsam nostrum nemo nisi aut tenetur, repudiandae inventore. Sit esse ipsam aut tenetur quos. Impedit temporibus explicabo ad delectus! Nesciunt, quae. Ut nemo perspiciatis sed inventore impedit distinctio corporis necessitatibus sequi, exercitationem ipsum deserunt minima laborum magni quod?</p>
            <p>Rerum quaerat dicta sapiente, placeat, eos maiores unde porro nihil obcaecati ipsum iure, vel et cum expedita? Tenetur, quas. Quo enim dolor, tempora architecto asperiores aspernatur ipsa dignissimos voluptate assumenda ab rem distinctio maxime error, a earum iusto inventore vero maiores perspiciatis at consequuntur, eum amet iste. A, libero nemo.</p>
        </div>
    </article>
{% endblock %}